<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
  <form method="POST" action="calculate" id="calculator">
    <label>Primer Operando:</label>
    <input id="first_argument" type="text" name="first_argument">
    <label>Primer Operando:</label>
    <input id="second_argument" type="text" name="second_argument">  
    <select id="operations" name="operations">
      <option value="sum">Suma</option>
      <option value="subtraction">Resta</option>
      <option value="average">Promedio</option>
    </select>  
    <input type="submit" value="Calcular"/>
  </form>
  <div id="result">Resultado: <%= @result %></div>
  </body>
</html>